<% include head %>
<ul>
    <% if(articles instanceof Array) {articles.forEach(article=>{ %>
        <li>
            <a href="/articles/<%= article.id %>" >
                <%= article.title %>
            </a>
        </li>
    <% })} else{%>
        <div><%= articles.content %></div>
    <% }%>
</ul>
<button type="button" class="btn btn-success">（成功）Success</button>
<% include foot %>