<html>
  <head>
    <title>jsong</title>
    <!-- 当url变化时 相对路径也变化了 所以这么写有问题 -->
    <!-- <link rel="stylesheet" href="./css/bootstrap.css" /> -->
    <link rel="stylesheet" href="http://127.0.0.1:3000/css/bootstrap.css" />
  </head>
  <body>
    <div class="container"></div>
  </body>
</html>
